.category{
    display: flex;
    justify-content: space-between;
    background: #e7e7e7;
}
.main {
    height:80vh;
    width: 80%;
    margin: 25px;
    border-radius: 10px;
    background: white;    
    .title{
    font-size: 22px;
    font-weight: 600;
    padding: 15px 0 0 15px;
}

}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    
    p{
     font-weight: 400;   
    }
    button{
        background-color: #1366D9;
        color: white;
        padding: 15px 25px;
        border: none;
        border-radius: 8px;
    }
}
.first{
    margin: 25px;

    border: 2px solid rgb(174, 174, 174);
    border-radius: 6px;
    table{
      border-collapse: collapse;
      border: 2px solid rgb(140 140 140);
      font-family: sans-serif;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
    
    caption {
      caption-side: bottom;
      padding: 10px;
      font-weight: bold;
    }
    
    thead,
    tfoot {
      background-color: rgb(228 240 245);
    }
    
    th,
    td {
      border: 1px solid rgb(160 160 160);
      padding: 8px 10px;
    }
    
    td:last-of-type {
      text-align: center;
    }
    
    tbody > tr:nth-of-type(even) {
      background-color: rgb(237 238 242);
    }
    
    tfoot th {
      text-align: right;
    }
    
    tfoot td {
      font-weight: bold;
    }
    
}
