.dashbaord {
  background-color: #f0f1f3;
  display: flex;
  justify-content: space-between;

  .dashboard-main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .summary {
    display: flex;
    flex-wrap: wrap;
    width: 82vw;
    gap: 20px;
  }

  .inventory-overwiew {
    background-color: #fff;
    width: 77vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
  }

  .vendor-overview {
    background-color: #fff;
    width: 37vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
  }

  .summary-title {
    display: flex;
    margin-left: 20px;
  }
  .overview-container {
    display: flex;
    justify-content: space-around;

    .overview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}
