.forgotPassword {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  align-items: center;
  background-color: #f0f1f3;
  width: 100vw;

  .forgotForm {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .submit-btn {
      background-color: #007bff;
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #0352a7;
      }
    }

    input {
      width: 250px;
      padding: 10px 20px;
    }
  }
}

.back-btn {
  background-color: #fff;
  border: 2px solid #007bff;
  top: 40px;
  left: 40px;
  color: black;
  position: absolute;
  transition: ease-in-out all 0.5s;
  width: fit-content;
  padding: 10px 20px;
  .redirect {
    text-decoration: none;
    color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &:hover {
    background-color: #007bff;
    border: none;
    .redirect {
      text-decoration: none;
      color: #fff;
    }
  }
}
