.forgotPassword {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;

  .back-btn {
    background-color: #fff;
    border: 2px solid #007bff;
    top: 40px;
    left: 40px;
    color: black;
    position: absolute;
    transition: ease-in-out all 0.5s;
    width: fit-content;
    padding: 10px 20px;
    .redirect {
      text-decoration: none;
      color: #007bff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  
    &:hover {
      background-color: #007bff;
      border: none;
      .redirect {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .forgotForm {
    background-color: #fff;
    width: 40vw;
    padding-top: 70px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 25px;
    border-radius: 10px;

    h2{

      font-size: xx-large;
      font-weight: 700;
    }
    h3{
      color:grey;
    }
    input {
      width: 500px;
      padding: 20px;
      border: 1px solid grey;
      border-radius: 15px;
    }

    .submit-btn {
      background-color: #1139a8;
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #103a66;
      }
    }
  }
}
