.inventory {
  background-color: #f0f1f3;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;

  .inventory-main {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    position: relative;
  }

  .overlay {
    background: #3756828e;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }
  .filter-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 999;
    padding: 30px;
    display: flex;
    flex-direction: column;

    gap: 40px;
    border-radius: 8px;

    transition: all ease-in-out 0.5s;

    .title {
      font-size: 18px;
      font-weight: 500;
      margin-left: -10px;
    }

    .discard-btn {
      right: 20px;
      top: 20px;
      border: none;
      position: absolute;
      background-color: transparent;
      border-radius: 4px;
      cursor: pointer;
      padding: 15px;

      img {
        width: 15px;
      }
    }

    select {
      width: 275px;
      padding: 5px 10px;
      border: 1px solid gray;
    }

    input {
      width: 275px;
      padding: 5px 10px;
      border: 1px solid gray;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      gap: 30px;

      .add-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 7px 10px;
        gap: 10px;
        color: #fff;
        background-color: #1570ef;
        border: 1px solid #d0d3d9;
        outline: none;
        cursor: pointer;
        border-radius: 4px;
        border: none;
      }
    }

    .field {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }
  }
  .inventory-summary {
    display: flex;
    flex-wrap: wrap;
    width: 87vw;
    gap: 20px;
    justify-content: center;
  }

  .overall-inventory {
    background-color: #fff;
    width: 85.5vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
  }

  .title {
    display: flex;
    margin-left: 14px;
    font-weight: 500;
  }
  .inventory-container {
    display: flex;
    justify-content: space-around;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .items-container {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    justify-content: center;
    align-items: center;
    width: 85.5vw;
    padding: 10px;

    border-radius: 10px;

    .item-container-top {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .container-title p {
        font-size: 18px;
        margin: 15px;
      }

      .icon-actions {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin: 15px;
        margin-right: 40px;
        input {
          padding: 0 10px;
          width: 250px;
        }

        .filter-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          padding: 5px 10px;
          gap: 10px;
          color: #5d6679;
          background-color: #fff;
          border: 1px solid #d0d3d9;
          outline: none;
          cursor: pointer;
          border-radius: 4px;
        }

        .add-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          padding: 7px 10px;
          gap: 10px;
          color: #fff;
          background-color: #1570ef;
          border: 1px solid #d0d3d9;
          outline: none;
          cursor: pointer;
          border-radius: 4px;
          border: none;
        }
      }
    }
  }
}
