.login {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;

  .left-side {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;

    img {
      width: 120px;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: blue;
      }

      &:focus {
        outline: 1px solid #60a5fa;
      }
    }
  }

  .login-container h2 {
    margin-bottom: 10px;
    font-size: 27px;
  }

  .login-container p {
    color: #888888;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .input-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
  }

  .input-group label {
    display: block;
    margin-bottom: 5px;
  }

  .input-group {
    input {
      width: 300px;
      padding: 10px;
      border: 2px solid #e5e7eb;
      border-radius: 5px;


      &:focus {
        border: 2px solid #94a3b8;
        outline: none;
      }
    }
  }

  .forgot-password {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
  }

  .forgot-password a {
    color: #007bff;
    text-decoration: none;
  }

  .forgot-password a:hover {
    text-decoration: underline;
  }

  .forgot-password a:focus {
    outline: 2px none;
    text-decoration: underline;
  }
}

@media (max-width: 392px) {
  .left-side {
    display: none;
    flex: 0;

    img {
      display: none;
    }
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container h2 {
    margin-bottom: 5px;
    font-size: 27px;
  }

  .login-container p {
    color: #888888;
    margin-bottom: 5px;
    font-size: 10px;
  }

  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .input-group label {
      font-size: 12px;
    }

    .input-group input {
      width: 200px;

    }
  }
}

@media (max-width: 576px) {
  .left-side {
    display: none;
    flex: 0;

    img {
      display: none;
    }
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-side {
    display: none;

    img {
      display: none;
    }
  }
}