.navbar{
    background-color: #fff;
    height: 90px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    box-shadow: 0 10px 20px #0000001a;

    .navright .item-text {
        color: black;
        font-weight: 600;
      }
      
      .navright .item-text.active { 
        color: rgb(51, 51, 245);
      }

    .logo{
        margin-left: 250px;
        background: transparent;
    }
    
    .navright{
        display: flex;
        width: 30vw;
        justify-content: space-around;
        align-items: center;
        margin-right: 250px;


        .btn{
            background: linear-gradient(#8F9BFF, #5568FF);
            color: white;
            padding: 10px;
            width: 100px;
            border-radius: 25px;
            border:none;
            cursor: pointer;
        }
    }
}