.navbar{
    background-color: #fff;
    height: 90px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    
    .navright{
        display: flex;
        width: 50vw;
        justify-content: space-around;
        align-items: center;

        .btn{
            background-color:rgb(51, 51, 245);
            color: white;
            padding: 10px;
            width: 100px;
            border-radius: 15px;
            border:none;
            cursor: pointer;
        }
    }
}