.sidebar {
  display: flex;
  flex-direction: column;
  width: 13vw;
  justify-content: space-between;
  height: 100vh;
  background-color: #fff;
}

.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  width: 100%;
}

.sidebar-logo {
  width: 190px;
  height: 63px;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.item {
  display: flex;
  gap: 20px;
  color: #5d6679;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.item-text {
  color: #5d6679;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.item img {
  width: 22px;
  height: 22px;
}

.activeImg {
  display: none;
}

.item:hover {
  transition: 0.3s;
  transform: translateX(10px);
}

.item:hover .item-text,
.item:hover img {
  color: #1570ef;
  filter: brightness(0) saturate(100%) invert(40%) sepia(80%) saturate(1500%)
    hue-rotate(190deg) brightness(100%) contrast(100%);
}

.active {
  color: #1570ef;
  font-weight: 500;
}

.active .item-text,
.active img {
  color: #1570ef;
  filter: brightness(0) saturate(100%) invert(40%) sepia(80%) saturate(1500%)
    hue-rotate(190deg) brightness(100%) contrast(100%);
}

.active .inactiveImg,
.active:hover .inactiveImg {
  display: none;
}

.active .activeImg,
.active:hover .activeImg {
  display: inline;
}
