.sign-up-page {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: #333;

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
      width: 120px;
    }
  }

  .right-side form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 14px;
    gap: 5px;
  }

  .input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }

  .password-hint {
    font-size: 12px;
    color: #666;
  }

  button {
    width: 325px;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }



button:hover {
  background-color: #ff0000;
  color: white;

}
}
@media (max-width: 392px) {
  .left-side {
    display: none;
    flex: 0;
    img {
      display: none;
    }
  }
  .sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-side h2 {
    margin-bottom: 5px;
    font-size: 27px;
  }

  .right-side form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .left-side {
    display: none;
    flex: 0;
    img {
      display: none;
    }
  }
  .sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-side form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-side {
    display: none;

    img {
      display: none;
    }
  }
}
