.vendor-table {
    width:100%;
    border-collapse: collapse;
    background-color: white;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    margin-top: 0px;
    border-radius: 10px;
    margin-bottom: 0px;
  }
  
  .vendor-table th, .vendor-table td {
    padding: 7px;
    padding-left: 30px;
    text-align:start;
  }
  
  .vendor-table th {
    background-color: white;
    font-weight:600;
  }
  
  .complete {
    color: green;
  }
  
  .pending {
    color: red;
  }

  .vendor-table tr:hover {
    background-color: #f1f1f1;
    padding:20px;
  }

  .up{
    width: 84vw;
  }
  .top{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-left: 30px;
    margin-top: 20px;
    height:60px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    
    h3{
      padding-left: 12px;
    }

  .right{
     margin-left: 40px;
     display:flex;
     
     input{
      padding:5px;
      width: 250px;
    } 
  }

  .category button{
    padding: 5px;
    margin-left: 28px;
    border-radius: 3px;
    border-color: lightgrey;
    background-color: white;
    width: 140px;
    border-width: 1px;
    height: 40px;
    cursor: pointer;
  }
  
   .add button{
    background-color: #1570ef;
    color: white;
    padding: 5px;
    border-radius: 3px;
    border-width: 0px;
    margin-left: 27px;
    margin-right: 10px;
    width: 140px;
    height: 40px;
    cursor: pointer;
   }
  }
  
  .last{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 0px;
    padding: 20px;
    
    .previous button{
      padding: 10px;
      width: 120px;
      margin-left: 20px;
      background-color: #fff;
      border-radius: 5px;
      border-width: 1px;
      cursor: pointer;
    }

    .middle{
      padding-top: 10px;
    }

    .next button{
      padding: 10px;
      width: 120px;
      margin-right: 40px;
      background-color: #fff;
      border-radius: 5px;
      border-width: 1px;
      cursor: pointer;
    }
  }
  