.topbar {
  background-color: #fff;
  height: 90px;
  display: flex;
  justify-content: space-between;
  width: 83.5vw;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  .topbar-left {
    input {
      height: 10px;
      padding: 10px;
      width: 300px;
    }

    .slogan {
      display: flex;
      align-self: start;
      margin-left: 20px;
      font-size: 14px;
      color: #7d7d7d;
    }
  }

  .topbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .greetings {
    display: flex;
    align-self: start;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 600;
  }
}
