.homecontainer{
    width:100vw;
    height: 100vh;

   .homecontent{
        background:white;
        height: 90vh;
        display: flex;
        line-height: 40px;

        .content{
            margin-top: 320px;
            margin-right: 440px; 
            margin-left: 270px;
            align-items: start;

            h1{
                padding: 10x;
                /* margin-left: 120px; */
                font-size: xx-large;
                font-weight: 700;
                color: black;

            }
            h3{
                padding-bottom: 10px; 
                font-size:medium;
                /* margin-left: 220px;  */
                font-weight: 700; 
                color: black; 
            }

    /* input{
        width: 30vw;
        padding:20px;
        border-radius: 50px;
        border-width:1px;
        margin-bottom: 20px;
        border: solid 1px;
    } */

   button{
    background-color: rgb(51, 51, 245);
    padding: 10px;
    width:250px;
    color: white;
    border-radius: 10px;
    /* margin-left: 180px; */
    border: none;
    cursor: pointer;
   }
}
.right2{
    position:absolute;
    height: 70vh;
    width:29.5vw;
    top:200px;
    left: 1190px;
    bottom: 300px;

    img.small{
        left:40px;
           
    }
    .big{
        left: 160px;
    }
img{
    position: absolute;
}

   }
}
}