
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}



/* :root {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #1a0dab;
  --link-hover-color: #551a8b;
}

.dark {
  --background-color: #181818;
  --text-color: #e0e0e0;
  --link-color: #8ab4f8;
  --link-hover-color: #e8eaed;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

.bar {
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar-items {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.item {
  background-color: var(--item-background-color);
  color: var(--text-color);
  padding: 10px;
  border: 1px solid var(--border-color);
}

.item:hover {
  background-color: var(--item-hover-background-color);
}

.item-text {
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
} */

